*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.app {
  height: 100vh;
  display: flex;
  background-color: #f9f9f9;
}

/* Aside styles */

aside{
    background-color: #111b21;
    color: white;
    width: 260px;
    padding: 20px;
    overflow-y: scroll;
}
section {
  flex: 1;
}

.header-aside{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside h1{
    text-align: start;
    padding: 10px;
    font-size: 25px;
}

.log-out{
    background-color: #00000000;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    width: 35px;
    height: 30px;
    padding: 5px;
    cursor: pointer;   
}

.log-out svg{
    width: 100%;
    height: 100%;
}

/* Search styles */

.search-bar{
    padding: 5px;
    border-top: 2px solid #202c33;
    border-bottom: 2px solid #202c33;
    padding: 15px 10px;
    position: relative;
}

.icon{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 20px;
    margin-left: 8px;
}

.search-bar input{
    background-color: #202c33;
    width: 100%;
    display: block;
    border: none;
    padding: 7px 7px 7px 33px; 
    border-radius: 15px;
    outline: none;
    color: white;
}

.search-bar input:focus{
    outline: 1px solid #4a4848;
}

.not-found-chat{
    text-align: center;
    color: rgb(139, 136, 136);
    padding-top: 50px;
    font-size: 14px;


 /* Aside user styles */
}

ul{
    list-style: none;
}

li{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    cursor: pointer;
}

li img{
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

li:hover{
    background-color: #4a4848;
}

.user-last-message{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.user-last-message small{
    padding-top: 4px;
    font-size: 12px;
    color: #8b8888;
}

/* Chat styles */

.chat{
    display: flex;
    flex-direction: column;
}

.chat-cont-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111b21;
}

.chat-cont-empty p {
  color: gray;
}

.chat header{
    background-color: #111b21;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 12px;
    border-bottom: 1px solid #202c33;
    color: white;
    padding: 6px;
}

.profile{
    margin-left: 8px;
}

.profile img{
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.last-conection{
    color: #8b8888;
    font-size: 14px;
}

.picture{
    margin-left: auto;
    margin-right: 50px;
    background-color: #0a0f1300;
    border: none;
    width: 35px;
    height: 30px;
    padding: 5px;
    cursor: pointer;
    transition: all .2s;
}

.picture:hover{
    transform: scale(0.98);
}

.picture svg{
    width: 100%;
    height: 100%;
}

.chat-body {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-image: url(/src/assets/wallpaper-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Messages styles */

.message {
  max-width: 400px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.192);
  word-wrap: break-word;
  background-color: #e4e6eb;
}

.message .timestamp {
  color: gray;
  font-size: 10px;
  text-align: end;
  margin-top: 5px;
}

.received {
  align-self: flex-start;
}

.me {
  background-color: rgb(194, 236, 194);
  align-self: end;
  max-width: 400px;
}

/* Input y boton send styles */

.send-message{
    padding: 10px;
    display: flex;
    gap: 10px;
    background-color: #111b21;
}

.input-send{
    width: 100%;
    flex: 1;
    padding: 5px;
    resize: none;
    border-radius: 10px;
    border: none;
}

.input-send:focus{
    outline: 1px solid rgb(35, 34, 34);
    border: none;
}

.send{
    background-color: #3eba3e;
    color: black;
    border: none;
    border-radius: 20px;
    width: 35px;
    height: 30px;
    padding: 5px;
    cursor: pointer;
    transition: all .2s;
}

.send:hover{
    background-color: green;
    transform: scale(0.96);
}

.send svg{
    width: 100%;
    height: 100%;
}

/* Login styles */

.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    background: radial-gradient(circle, #222c32 0%, #0a0f13 100%);
    color: white;
}

.welcome h2{
    font-size: 37px;
    padding-bottom: 10px;
}

.welcome p{
    max-width: 60ch;
    line-height: 1.5;
}

.about-us{
    padding-top: 18px;
    font-size: 12px;
}

.login{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.login h2{
    color: white;
    padding: 10px;
    font-size: 23px;
}

.login form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #07070a4e;
    padding: 15px;
    border-radius: 10px;
}

.login form input{
    width: 250px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.login form input:focus{
    outline: 1px solid #b7b7bb;
    border: none;
}

.login button{
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: #3d506d;
    cursor: pointer;
}

.login button:hover{
    transform: translateY(-2px);
}

.error-login{
    color: #c10202;
    padding: 6px;
    font-size: 12px;
}

.link-reg{
    font-size: 14px;
}

/* Register styles */

.register{
    height: 100vh;
    background: radial-gradient(circle, #222c32 0%, #0a0f13 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
}

.register form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #07070a4e;
    padding: 15px;
    border-radius: 10px;
}

.register form input{
    width: 250px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.register button{
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: #3d506d;
    cursor: pointer;
}

.register button:hover{
    transform: translateY(-2px);
}

.error-container{
    text-align: end;
}

.error-name{
    margin: 0;
    font-size: 10px;
    color: #c10202;
}

.error-email{
    font-size: 10px;
    color: #c10202;
}

.error-pass{
    font-size: 10px;
    color: #c10202;
}

.link-login{
    font-size: 14px;
}

/* Acerca styles */

.container-acerca{
    background-color: #222c32;
    color: white;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
}

.title{
    background-image: url(/src/assets/fondo-h1.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.go-back{
    position: absolute;
    top: 20px;
    left: 20px;
}

.go-back a{
    background-color: #222c32;
    border-radius: 10px;
    text-decoration: none;
    font-size: 12px;
    color: white;
    padding: 12px;
}

.go-back a:hover{
    background-color: #2c383f;
}

.container-acerca h1{
    text-align: center;
    padding: 80px;
}

.container-acerca h4{
    color: #00a884;
    margin-top: 30px;
    font-size: 18px;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

.container-acerca p{
    font-size: 14px;
    padding: 8px;
}

.container-acerca img{
    width: 80%;
    height: 80vh;
}

.img-chat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* NotFound styles */
.cont-not-found{
    min-height: 100vh;
    background-image: url(/src/assets/fondo-error404.jpg);
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont-not-found h1{
    font-size: 80px;
}

.cont-not-found p{
    font-weight: 700;
    padding-bottom: 8px;
}

@media (max-width: 880px) {
  aside {
    display: none;
  }

  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}