*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

aside{
    background-color: #111b21;
    color: white;
}

aside h1{
    text-align: start;
    padding: 10px;
    font-size: 25px;
}

.search-bar{
    padding: 5px;
    border-top: 2px solid #202c33;
    border-bottom: 2px solid #202c33;
    padding: 15px 10px;
    position: relative;
}

.icon{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 20px;
    margin-left: 8px;
}

.search-bar input{
    background-color: #202c33;
    width: 100%;
    display: block;
    border: none;
    padding: 7px 7px 7px 33px; 
    border-radius: 15px;
    outline: none;
    color: white;
}

.search-bar input:focus{
    outline: 1px solid #4a4848;
}

ul{
    list-style: none;
}

li{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    cursor: pointer;
}

li img{
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

li:hover{
    background-color: #4a4848;
}